/*@import "bourbon";*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

.red-heart-checkbox {
    visibility: hidden;
}

.red-heart-checkbox + label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 30px;
    padding-left: 15px;
    transition: all 0.2s;
}

.red-heart-checkbox:checked + label:before {
    content: "\f004";
    color: #f00;
}

.red-heart-checkbox + label:before {
    width: 31.5px;
    height: 30px;
    content: "";
    position: absolute;
    margin-left: -48px;
    margin-top: 3px;
    font-family: FontAwesome;
    font-size: 30px;
    content: "\f08a";
    transition: all 0.3s;
    color: #888;
}

.red-heart-checkbox + label:hover:before {
    transform: scale(1.2);
}

.control-group-heart {
    margin: 3px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
