/*
    Landed by Yasin Burak KALKAN
    Yasin Burak Kalkan | Front-End Developer
    www.yasinkalkan.com
*/

@charset "UTF-8";

/* ______________________________ GENERAL-SETTINGS ______________________________ */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

#snow-animation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}